body{
    font-family: 'microsoft yahei',Arial,sans-serif;
    margin:0;
    padding:0;

}
.modal {
    margin-top: 50px;
}

.warr span {
    display: block;
    margin: 0 auto;
    color: #2e6da4;
    text-align: center;
    font-size: 14px;
}
.capslock {
    position: absolute;
    border-radius:5px;
    display: none;
    margin-top: -52px;
    right: 20px;
    z-index: 4;
    font-size: 12px;
    line-height: 28px;
    color: red;
    background-color: lightgoldenrodyellow;
}
.capslock1 {
    position: absolute;
    border-radius:5px;
    display: none;
    margin-top: -52px;
    right: 20px;
    z-index: 4;
    font-size: 12px;
    line-height: 28px;
    color: red;
    background-color: lightgoldenrodyellow;
}
